<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>{% block title %}Welcome!{% endblock %}</title>
{% block stylesheets %}
{% endblock %}
{% block header_javascripts %}
{% endblock %}
<link rel="icon" type="image/x-icon" href="{{ asset('jpm/images/favicon-96x96.png') }}" />
</head>
<body>
	{% block body %}
	{% endblock %}
	{% block javascripts %}
	{% endblock %}
</body>
</html>
