.my_carousel{
    background-color:lightyellow;
}

.my_carousel .title {
    padding-top:2rem;
    padding-left:1rem;
    padding-bottom:1rem;
}

.welcome {
    background-color: lightcyan;
    background-size: cover;
    color: black;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.welcome .nav {
    background-color:lightyellow;
}

.welcome .nav .active{
    background-color:lightgray;
}

.welcome .tab-pane {
    padding:1rem;
    background-color:lightyellow;
}

.bg-contact {
    background-image: url('../images/rer.jpg');
    background-size: cover;
    color: #0070dd;;
    font-size: 1.2rem;
    font-weight: bold;
    font-style: oblique;
    min-height:600px;
}

.bg-contact .form-error ul li {
    color:red;
    font-size: 1rem;
    font-weight:normal;
}
footer{
    max-height:200px;
    background-color:lightyellow;
}

.page {
    min-height:800px;
}

.presentation {
    padding-top: 6rem;
}

.contact_form {
    padding-top: 6rem;
}

.jpm_alert {
    position: fixed;
    margin-top: 4em;
    width: 90%;
    margin-left: 4em;
    z-index: 3000;
}

.socials{
    font-size: 2rem;
}

.bg_navbar{
    background-color: white;
}

